/* 1. SELECTOR UNIVERSAL*/
* {
    font-family:monospace;
    margin: 0;
    padding: 0;
}

/* 2. SELECTORES DE ETIQUETAS HTML */
header{
    text-align: center;
}
h1, h2 {
    background-color: aqua;
    font-style: oblique;
    color: rgb(8, 8, 8);
}

/* 3. SELECTORES DE CLASES */
.parte1 {
    text-align: center;
    background-color: rgb(130, 240, 4);
    border:0.2rem solid #fc0909;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:normal;
    padding: 0.3rem;
}
.parte1_articulo{
    margin: 0.2rem;
    border:0.2rem solid #0a43fd;
}

/* 4. SELECTORES DE IDENTIFICADORES */
#ART {
    font-size: 1.5rem;
    color: blueviolet;
    text-align: center;
    text-decoration: none;
}

/* 5. SELECTORES DE ATRIBUTOS AVANZADOS */
/*EDICION DE MI FORMULARIO*/
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input[type="text"], input[type="password"] {
    border: 2px solid blue;
    padding: 5px;
    background-color: #f0f0f0;
}
/* 6. SELECTORES COMBINADORES */
/* Aplica a TODOS los <p> que vivan dentro de <article> */
article p {
    color: rgb(230, 0, 153);
    font-size: 18px;
    line-height: 1.5;
}

h1 + p {
    font-weight: bold;
    background-color: #eee;
    padding: 5px;
    color: #7a05ff;
}

/* 7. SELECTORES LÓGICOS MODERNOS */
.selector_logico{
    padding: 1rem;
    border:0.2rem solid #fc0909;
}
:is(h3, h4) {
    text-align: center;
    color: #7a05ff;
    letter-spacing: 2px;  /*espaciado entre letras*/
    border-bottom: 2px solid black;  /*solo el borde inferios*/
}

a:not(.especial) {
    color: rgb(112, 0, 52);
    background-color: lightyellow;
    font-size: 20px;
    text-decoration: none;
}

/* 8. SELECTORES PSEUDO-CLASES */
a:hover {
    background-color: yellow;
    color: black;
    font-size: 2rem;
}

input:focus {
    border: 2px solid red;
    outline: none;
    background-color: #fff3f3;
}