/* 1. Selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Selectores de etiquetas */
body {
  background: #f0f0f0;
  font-family: Arial;
  color: black;
}

h1 {
  color: blue;
  text-align: center;
  margin: 20px;
}

p {
  font-size: 16px;
  color: #333;
  margin: 10px;
}

ul {
  list-style: none;
  padding: 10px;
  background: #ddd;
}

a {
  display: inline-block;
  margin: 10px;
  color: green;
}

/* 3. Clases */
.contenedor {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.texto {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.activo {
  color: white;
  background: green;
  padding: 5px;
}

/* 4. ID */
#titulo {
  font-size: 30px;
  background: black;
  color: white;
}

/* 5. Combinadores */
div p {
  color: purple;
  margin: 5px;
  font-style: italic;
}

div > p {
  border: 1px solid black;
  padding: 5px;
  background: #fafafa;
}

/* 6. Lógicos modernos */
:is(h1, h2) {
  font-family: Georgia;
  letter-spacing: 2px;
  text-transform: uppercase;
}

:where(p, li) {
  line-height: 1.5;
  font-size: 14px;
  color: #444;
}

/* 7. Pseudo clases */
a:hover {
  color: red;
  text-decoration: underline;
  transition: 0.3s;
}

li:nth-child(2) {
  background: yellow;
  padding: 5px;
  border-radius: 5px;
}

/* 8. Pseudo elementos */
p::first-letter {
  font-size: 30px;
  color: blue;
  font-weight: bold;
}

p::after {
  content: " ✔";
  color: green;
}

/* 9. Atributos */
input[type="text"] {
  border: 2px solid blue;
  padding: 5px;
  border-radius: 5px;
}

a[target="_blank"] {
  color: orange;
  font-weight: bold;
  text-decoration: none;
}

/* 10. Combinados */
div.contenedor {
  border: 2px solid black;
  margin: 20px;
  padding: 15px;
}

ul li.activo {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

body .contenedor p {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}

div.contenedor > p.texto {
  border: 2px dashed red;
  padding: 10px;
  background: #fff;
}

ul > li.activo {
  border: 2px solid white;
  padding: 5px;
  background: green;
}

div.animacion {
  margin: 20px auto;
  border-radius: 10px;
  border: 2px solid black;
}

/* Animación */
@keyframes mover {
  0% { transform: translateX(0); }
  50% { transform: translateX(100px); }
  100% { transform: translateX(0); }
}

.animacion {
  width: 100px;
  height: 100px;
  background: red;
  animation: mover 2s infinite;
}



/** NOTA ACTUAL : 3.0
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL
  #5 SELECTORES DE ETIQUETAS HTML
  #5 SELECTORES DE CLASES
  #3 SELECTORES DE IDENTIFICADORES
  #2 SELECTORES COMBINADORES
  #2 SELECTORES LOGICOS MODERNOS
  #2 SELECTORES PSEUDO CLASES
  #2 SELECTORES PSEUDO ELEMENTOS
  #2 SELECTORES ATRIBUTOS AVANZADOS
  #6 SELECTORES COMBINADOS
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/