p{
    color: rgb(153, 0, 255);
    background-color: rgb(0, 0, 0);
}

.tulio{
    color: blueviolet;
    background-color: black;
}

body {
    /* Ruta de la imagen */
    background-image: url("imagenes/futbol.jpg");
    
    /* Asegura que la imagen cubra todo el fondo */
    background-size: cover;
    
    /* Centra la imagen */
    background-position: center;
    
    /* Evita que la imagen se repita */
    background-repeat: no-repeat;
    
    /* Mantiene la imagen fija al hacer scroll */
    background-attachment: fixed;
    
    /* Color de respaldo si la imagen no carga */
    background-color: #ea09ff; 
}