body {
    font-family: Arial;
    margin: 30px;
}

section {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #ccc;
}

/* :not() */
p:not(.activo) {
    color: red;
}

/* :is() */
:is(h3, h4, h5) {
    color: blue;
    background-color: aqua;
}

/* :where() */
.demo-where :where(h2,article, section){
    background-color: #b52a2a;
    padding: 10px;
}

/* :has() */
.tarjeta:has(img) {
    border: 3px solid green;
}

/* :matches() (antiguo) */
:matches(h2, h6) {
    color: purple;
}