/* =====================================
   SELECTOR UNIVERSAL
===================================== */
*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;
    
    font-family: Arial, sans-serif;
}

/* =====================================
   SELECTORES DE ETIQUETA (5)
===================================== */
body{
    background: #f4f4f4;

    color: #222;

    line-height: 1.6;

    padding: 10px;
}

h1{
    color: #0b4f8a;

    text-align: center;

    margin-bottom: 15px;

    letter-spacing: 1px;
}

p{
    font-size: 14px;

    margin-bottom: 10px;

    color: #333;
}

section{
    margin: 20px 0;

    padding: 15px;

    border: 1px solid #ddd;

    background: white;
}

button{
    background: #0b4f8a;

    color: white;

    padding: 8px 12px;

    border: none;

    cursor: pointer;
}

/* =====================================
   SELECTORES DE CLASE (5)
===================================== */
.header{
    background: #0b4f8a;

    color: white;

    padding: 20px;

    text-align: center;
}

.main{
    max-width: 2200px;

    margin: auto;

    padding: 10px;
}

.card{
    border: 1px solid #ccc;

    padding: 10px;

    background: #fff;

    transition: 0.3s;
}

.productos{
    display: flex;

    flex-wrap: wrap;

    gap: 15px;

    justify-content: center;
}

.footer{
    background: #222;

    color: white;

    padding: 20px;

    text-align: center;
}

/* =====================================
   SELECTORES ID (3)
===================================== */
#inicio{
    background: #eaf6ff;

    border-radius: 10px;

    padding: 20px;

    margin-bottom: 10px;
}

#coleccion{
    background: #fff3e6;

    border-radius: 10px;

    padding: 20px;
}

#destacados{
    background: #f0fff0;

    border-radius: 10px;

    padding: 20px;
}

/* =====================================
   SELECTORES COMBINADORES (2)
===================================== */
header h1{
    font-size: 28px;

    text-transform: uppercase;

    margin-top: 10px;

    color: black;
}

nav ul li{
    list-style: none;

    display: inline-block;
    
    margin: 0 10px;
}

/* =====================================
   SELECTORES LÓGICOS MODERNOS (2)
===================================== */
:is(h2,h3){
    color: #0b4f8a;

    font-weight: bold;

    text-transform: uppercase;

    letter-spacing: 1px;
}

p:not(.especial){
    color: #444;

    padding-left: 5px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-left: 3px solid #0b4f8a;
}

/* =====================================
   PSEUDO CLASES (2)
===================================== */
button:hover{
    background: orange;

    transform: scale(1.05);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-radius: 5px;
}

a:active{
    color: red;

    font-weight: bold;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: yellow;
}

/* =====================================
   PSEUDO ELEMENTOS (2)
===================================== */
p::first-letter{
    font-size: 20px;

    font-weight: bold;

    color: #0b4f8a;

    text-transform: uppercase;
}

p::after{
    content: " ✔";

    color: green;

    background-color: #444;

    padding: 2px;
}

/* =====================================
   ATRIBUTOS AVANZADOS (2)
===================================== */
input[type="text"]{
    border: 2px solid blue;

    padding: 5px;

    background: #eef;

    border-radius: 5px;
}

img[src$=".jpg"]{
    border: 3px solid purple;

    border-radius: 10px;

    padding: 3px;
}

/* =====================================
   SELECTORES COMBINADOS (6)
===================================== */

section.productos article.card{
    width: 200px;

    text-align: center;

    border-radius: 10px;

    padding: 10px;
}

.card:hover img{
    transform: scale(1.1);

    transition: 0.3s;

    opacity: 0.9;

    border-radius: 10px;
}

.header nav ul li a{
    color: white;

    text-decoration: none;

    font-style: oblique;

    font-weight: bold;
}

.header nav ul li a:hover{
    color: yellow;

    background-color: rgb(128, 255, 255);

    padding: 5px;

    border-radius: 5px;
}

.productos .card footer button{
    background: green;

    color: rgb(205, 87, 255);

    padding: 6px;

    border-radius: 5px;
}

section#destacados .card h3{
    color: darkred;

    font-weight: bold;

    text-transform: uppercase;

    letter-spacing: 1px;
}
/* =====================================
   ANIMACIONES (3)
===================================== */
@keyframes aparecer{
    from{
        opacity: 0;

        transform: translateY(20px);

        background-color: transparent;
    }
    to{
        opacity: 1;

        transform: translateY(0);
        
        background-color: white;
    }
}  

.card{
    animation: aparecer 0.8s ease-in-out;

    border-radius: 10px;

    padding: 10px;

    background-color: white;
}

/* ======================= */

@keyframes zoom{
    from{
        transform: scale(1);

        opacity: 0.8;

        background-color: lightblue;
    }
    to{
        transform: scale(1.05);

        opacity: 1;

        background-color: cyan;
    }
}

.card:hover{
    animation: zoom 0.3s forwards;

    color: coral;

    background-color: cyan;

    cursor: pointer;
}

/* ======================= */

@keyframes colorCambio{
0%{
    background: #0b4f8a;

    transform: scale(1);

    opacity: 1;
}
50%{
    background: purple;

    transform: scale(1.05);

    opacity: 0.8;
}
100%{
    background: #0b4f8a;

    transform: scale(1);

    opacity: 1;
}}

button:hover{
    animation: colorCambio 1s infinite;

    transform: scale(1.05);

    color: white;

    border-radius: 5px;
}

 /** NOTA ACTUAL : 15
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL 0.5
  #5 SELECTORES DE ETIQUETAS HTML 2.5
  #5 SELECTORES DE CLASES 2.5
  #3 SELECTORES DE IDENTIFICADORES 1.0
  #2 SELECTORES COMBINADORES 1
  #2 SELECTORES LOGICOS MODERNOS 1
  #2 SELECTORES PSEUDO CLASES 1
  #2 SELECTORES PSEUDO ELEMENTOS 1
  #2 SELECTORES ATRIBUTOS AVANZADOS 1
  #6 SELECTORES COMBINADOS 3
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/