* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  border: 4px solid purple;
  background: #f5f5f5;
}
/* INICIO CABEZA PRINCIPAL*/
.cabecera_principal {
  max-width: 100%;       /* Asegura que no se pase del borde */
  height: 150px;         /* Ajusta la altura que prefieras para tu banner */
  display: flex;         /* Útil si quieres centrar texto dentro de la imagen */
  overflow: hidden;      /* Corta cualquier sobrante de la imagen */
  
& img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

}
/* FIN CABEZA PRINCIPAL*/

/* SUBTITULOS*/
.header {
  background: #050c14;   /* azul */
  border: 3px solid #585858;
  color: #ffffff;                            /*color del texto */
  font-size: 24px; 
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}



/* MAIN */
.main {
  background: #ffffff;
}

/* SECTION */
.section {
  background: #df845a;   /* verde */
  border: 3px solid #79c485;
  min-height: 20vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
}

.first-section {
  background: #3e8c1d;   /* gris claro */
  border: 3px solid #0523e7;
}

/* INICIO SECCIÓN DE PRODUCTOS */
.second-section {
  background: #eaebeb;
  border: 3px solid #d35400;
/***************************************************************************************************************************/
  /* 1// CONTENEDOR DE MIS PRODUCTOS */
  & .cont_products {
      display: flex;                                /*evita que se pongan 1 de bajo del otro*/
      flex-wrap: wrap;                              /* ajustar a los productos si ya no caben en la lista*/
      gap: 20px;                                    /*el espacio entre mis productos*/      
      justify-content: center;                      /*centra todos mis productos*/
      padding: 20px;                                /*el espacio entre el borde del contenedor y mis productos*/
      width: 100%;                                  /*que ocupe todo el ancho del contenedor second*/
/***************************************************************************************************************************/
    /* 2. El artículo (Producto) dentro del contenedor */
    & .pro {
      border: 3px solid #45454660;                /*colocar borde a mis productos*/
      background-color: #00040723;                /*instalar un fondo a todos mi productos*/
      border-radius: 8px;                           /*redondear los bordes de mis articulos*/
      display: flex;                                /*evita que se pongan 1 de bajo del otro*/
      flex-direction: column;                       /*los ordeno en columnas */ 

  /* AJUSTA AUTOMATICAMENTE MIS IMAGENES*/

      flex: 1 1 250px;                              /*ajusta el tamaño de mis productos a 200px y se adapta al espacio disponible*/
      max-width: 250px;                             /*limita el tamaño máximo de mis articulos a 300px*/
      padding: 10px;                                /*el espacio entre el borde de mis articulos y la imagen que coloco*/
      box-sizing: border-box;                       /*incluye el padding dentro del tamaño total del artículo para evitar que se desborde*/

  /*CREAR UN PEQUEÑA TRANSICION DEL MOUSE */
     transition: transform 0.3s ease;
     cursor: pointer;
/***************************************************************************************************************************/
      /* Efectos del producto */
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        border-color: #358bb3;

        & img {
          filter: brightness(1.1);
        }
      }
/***************************************************************************************************************************/
      /* 3. La imagen dentro del producto */
      & img {
         width: 100%;                                  /*ajusta el ancho de mis imagenes al tamaño del articulo*/
         height: 200px;                                /*pongo una altura fija para todas mis imagenes y encuadren*/
         object-fit: cover;                            /*evita la  distorsion de la imagen, recortando */
         border-radius: 4px;                           /*redondear los bordes de mis imagenes*/
      }

      /* 4. La descripción dentro del producto */
      & .desc {
        background: #000000;                       /*fondo negro para mis descripcion de texto*/
        color: #ffffff;                            /*color del texto */
        font-size: 14px;                             /*tamaño del texto*/
        padding: 10px;                               /*separacion de los bordes*/
        text-align: center;                          /*alinear mi texto al medio*/
        margin-top: 15px;                            /*separar el margen de mi descripcion del articulo*/
        border-radius: 4px;                          /*redondear los bordes de mi descripcion*/
        margin-bottom: 0;                            /*margen inferior a 0 para evitar espacio innecesario*/
      }
    }
  }
}
/* FINAL SECCIÓN DE PRODUCTOS */
.third-section {
  background: #8e44ad;   /* morado */
  border: 5px solid #5e38dc;
}

.fourth-section {
  background: #f53838;   /* azul oscuro */
  border: 3px solid #1b2838;      
}


/* ARTICLE */
.article {
  background: #fff3bf;   /* amarillo */
  border: 3px solid #d4b557;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}

/* ASIDE */
.aside {
  background: #e7f5ff;   /* celeste */
  border: 3px solid #88193e;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
.footer {
  background: #f1d176;   /* gris */
  border: 3px solid #868e96;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* FORM */
.form {
  background: #ffe3e3;   /* rosado */
  border: 3px solid #ff6b6b;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BUTTON */
.button {
  background: #d0ebff;   /* azul claro */
  border: 3px solid #339af0;
  height: 60px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GRIDS */
.stats,
.stats2,
.clients,
.testimonials,
.services {
  display: grid;
  gap: 15px;
}

.stats {
  grid-template-columns: repeat(2, 1fr);
}

.stats2 {
  grid-template-columns: repeat(6, 1fr);
}

.clients {
  grid-template-columns: repeat(4, 1fr);
}

.testimonials {
  grid-template-columns: repeat(3, 1fr);
}

.services {
  grid-template-columns: repeat(5, 1fr);
}

/* DOS COLUMNAS */
.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


/* INFOs a la izquierda */
.two-columns .section:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

.two-columns .section:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

.two-columns .section:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
}

/* FORMULARIO a la derecha ocupando todo */
.two-columns .form {
  grid-column: 2;
  grid-row: 1 / span 3;
}

.hero {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 20px;
}

/* H1 */
.hero > .header {
  grid-column: 1;
  grid-row: 1;
  background-color: #79c485;
}

/* BOTÓN */
.hero > .button {
  grid-column: 2;
  grid-row: 1;
  background-color: #358bb3;
  align-self: center;
}

/* STATS ABAJO */
.hero > .stats {
  background-color: #072635;
  grid-column: 1 / -1;
  grid-row: 2;
}

/* STATS ABAJO */
.hero > .stats2 {
  background-color: #072635;
  grid-column: 1 / -1;
  grid-row: 3;
}


/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
  background: #965959;
  border: 4px solid #7048e8; /* marco general */
  font-weight: bold;
}

/* THEAD */
.table thead {
  background: #0c4b36;        /* verde claro */
  border: 3px solid #20b2c9;
}

/* TR (HEADER) */
.table thead tr {
  background: #96f2d7;
}

/* TH */
.table th {
  background: #0597ff;
  border: 3px solid #0b805d;
  padding: 16px;
  text-align: center;
}

/* TBODY */
.table tbody {
  background: #fff9db;        /* amarillo claro */
  border: 3px solid #fcc419;
}

/* TR (BODY) */
.table tbody tr {
  background: #f552f5;
}

/* TD */
.table td {
  background: #9aebff;
  border: 3px solid #7617a5;
  padding: 14px;
  text-align: center;
}

/* FILAS ALTERNAS (opcional didáctico) */
.table tbody tr:nth-child(even) td {
  background: #d1f2f5;
}
