.tituloheader{
    background-color: blueviolet;
    font-size: 55px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.contenido{
    background-color: blueviolet;
}
.lista{
    list-style: none;
    background-color: blueviolet;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
}
.precio{
font-size: 40px;
background-color: rgb(47, 3, 74);
}

#linkwsp{
    background-color: blueviolet;
}

/** NOTA ACTUAL : 2.5
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL
  #5 SELECTORES DE ETIQUETAS HTML
  #5 SELECTORES DE CLASES
  #3 SELECTORES DE IDENTIFICADORES
  #2 SELECTORES COMBINADORES
  #2 SELECTORES LOGICOS MODERNOS
  #2 SELECTORES PSEUDO CLASES
  #2 SELECTORES PSEUDO ELEMENTOS
  #2 SELECTORES ATRIBUTOS AVANZADOS
  #6 SELECTORES COMBINADOS
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/