.chanchito_feliz{
    color: brown;
    font-size: 32px;
    border: 2px;
    background-color: azure;
    display: flex;
    gap: 100px;
}

.p2{
    position: relative;
    margin-right: 100px;
    background-color: aqua;
    border-radius: 5%;
    border-top-right-radius: 50%;
    height: -100px;
}

img{
    height: 100px;
    width: auto;
    transition: 0.3 ease;
}
img:hover{
    box-shadow: color(srgb red green blue);
    transform: scale(0.3);
}

.img2{
    display: block;
    position: relative;
}

/*Estoy practicando aparte profe*/