*{
    font-family: 'Courier New', Courier, monospace; /* tipo de letra */
}

/* ===== ETIQUETAS HTML  ===== */


body {
    background-color: rgb(117, 0, 0); /* color de fondo */
}


h1 {  /* usando dos etiquetas  al mismo tiempo */
    font-size: 40px; /* tamaño de letra */
    text-align: center; /* centrar texto */
    color: rgb(0, 0, 0); /* color */
}


p {
    font-size: 16px;
    color: rgb(255, 255, 255);
}


section {
    background-color: lightcoral;
    text-align: center;
}


footer {
    background-color: black;
    text-align: center;
 
}

/* ===== IDs ===== */


#descripcion {
    border: 2px solid rgb(132, 117, 117);
}

#button {
    background-color: rgba(0, 137, 39, 0.19);
    border: 2px solid rgb(0, 137, 39);
}


#vinculo {
    background-color: rgb(107, 107, 212);
    border: 2px solid rgb(64, 0, 133);
}
/* ===== CLASES  ===== */
.bo {
    background-color: darkred;
    text-align: center;
}


.h2clas {
    background-color: crimson;
    text-align: center;
}


.pclas {
    text-align: center;
}


.preciocoles {
    background-color: white;
    font-size: 20px;
}


.precio {
    background-color: white;
    font-size: 20px;
    color: rgb(0, 191, 255);
}





/**  #2 SELECTORES COMBINADORES  **/


section img {
    width: 300px;
    height: auto;
    border: 4px solid #3498db; 
    border-radius: 15px;       

}
    
.article2 p {
    color: rgb(194, 253, 0);
}


/** #2 SELECTORES LOGICOS MODERNOS **/




/** NOTA ACTUAL : 1.0 por no entiendo
15
 puntos SELECTORES
  #1 SELECTOR UNIVERSAL                x
  #5 SELECTORES DE ETIQUETAS HTML      x
  #5 SELECTORES DE CLASES              x
  #3 SELECTORES DE IDENTIFICADORES     x
  #2 SELECTORES COMBINADORES           x
  #2 SELECTORES LOGICOS MODERNOS
  #2 SELECTORES PSEUDO CLASES
  #2 SELECTORES PSEUDO ELEMENTOS
  #2 SELECTORES ATRIBUTOS AVANZADOS
  #6 SELECTORES COMBINADOS
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/