 h1{
  background-color: black;
}

 /**etiqueta html*/
 h1, h2{
   background-color: aquamarine;
   font-style:oblique;
   color:red;
 }

 #servicio_promocion{
  background-color: rgb(red, green, blue);
}

article{
   background-color: blue;
}


p{
   background-color: blue;
   font-size:50px;
   color:white
}

 # 5 etiquetas html
 # 5 clases
 # 3 identificadores
propiedades
font-family --espeficica
background-color
text-algin
/* comentario */
