*{

}
/*====== ESTILO GENERAL ====== */
body {
    margin: 8px;
    padding: 8px;
    font-family: tahoma, sans-serif;
    background: linear-gradient(135deg, #000000, #141414, #2a2a2a);
    color: #f5f5f5;
}

/*======HEADER======*/
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #ffffff;
    text-shadow: 0 0 6px #ff1a1a;
    margin-bottom: 10px;
}

headerp {
    color: #ff9999;
}

/*======FORMULARIO======*/
form {
    background-color: #121212;
    padding: 28px;
    max-width: 780px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid #ff1a1a;
    box-shadow: 0 0 18px #ff1a1a;
}

/*======FIELDSET======*/
fieldset {
    border: 2px solid #ff1a1a;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #111;
}

legend {
   font-weight: bold;
   color: #ff4d4d;
   text-shadow: 0 0 4px #ff0000;
   padding: 0 10px;
}


/*======LABEL====== */
label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    color: #ffb3b3;
}

/* ====== INPUTS ====== */
input[type="text"],
input[type="email"],
select,
input[type="range"] {
    width: 100%;
    padding: 9px 13px;
    margin-bottom: 14px;
    border: 2px solid #ff1a1a;
    border-radius: 7px;
    background-color: #0f0f0f;
    color: #ffffff;
    box-sizing: border-box;
}

/* ====== PROGRESS ====== */
progress,
meter {
    width: 100%;
    height: 18px;
    margin-bottom: 14px;
    border-radius: 8px;
    accent-color: #ff1a1a;
}

/* ====== BOTONES ====== */
button {
    padding: 11px 20px;
    margin: 6px 5px 0 0;
    border: 2px solid #ff1a1a;
    border-radius: 7px;
    background-color: #0f0f0f;
    color: #ff4d4d;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ff1a1a;
    color: #000;
    box-shadow: 0 0 10px #ff1a1a;
}

/* ====== FILE ====== */
.custom-file-input {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 11px 20px;
    border: 2px solid #ff1a1a;
    border-radius: 7px;
    background-color: #0f0f0f;
    color: #ff4d4d;
    cursor: pointer;
    margin-bottom: 10px;
}

.custom-file-label:hover {
    background-color: #ff1a1a;
    color: #000;
}

/* ====== ASIDE ====== */
aside {
    max-width: 780px;
    margin: 30px auto;
    padding: 16px;
    background-color: #111;
    border-left: 5px solid #ff1a1a;
    border-radius: 7px;
    color: #ff9999;
}

/* ====== DIALOG ====== */
dialog {
    padding: 22px;
    border-radius: 12px;
    border: 2px solid #ff1a1a;
    background-color: #111;
    color: #fff;
}

/* ====== DETAILS ====== */
details {
    background-color: #111;
    padding: 11px;
    border-radius: 7px;
    margin-top: 10px;
}

summary {
    cursor: pointer;
    color: #ff9999;
    font-weight: bold;
}

/* ====== OUPUT ====== */
output {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-weight: bold;
    color: #ff4d4d;
}

meter,
input[type="range"] {
    width: 88%;
    max-width: 820px;
    display: block;
    margin-bottom: 14px;
}



/* =============================== */
/* 1 SELECTOR UNIVERSAL */
/* =============================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =============================== */
/* 5 SELECTORES DE ETIQUETAS */
/* =============================== */
body {
    font-family: Arial;
    background-color: #111;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: black;
}

form {
    width: 80%;
    margin: auto;
    padding: 20px;
}

fieldset {
    border: 2px solid red;
    padding: 15px;
    margin-bottom: 10px;
}

label {
    color: pink;
    font-weight: bold;
    margin-bottom: 5px;
}

/* =============================== */
/* 5 SELECTORES DE CLASE */
/* =============================== */
.texto {
    color: gray;
    font-size: 18px;
    text-align: center;
}

.caja {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
}

.tarjeta {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

.boton {
    background-color: red;
    color: white;
    padding: 10px;
}

.alerta {
    color: yellow;
    background-color: black;
    padding: 10px;
}

/* =============================== */
/* 3 SELECTORES DE ID */
/* =============================== */
#titulo {
    color: red;
    font-size: 30px;
    text-align: center;
}

#formulario {
    border: 3px solid red;
    padding: 20px;
    background-color: #000;
}

#footer {
    text-align: center;
    color: gray;
    margin-top: 20px;
}

/* =============================== */
/* 2 COMBINADORES */
/* =============================== */
header h1 {
    text-shadow: 0 0 5px red;
    font-size: 28px;
    color: red;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: pink;
}

/* =============================== */
/* 2 SELECTORES LOGICOS */
/* =============================== */
:is(input, select, button) {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

:where(fieldset, aside) {
    background-color: #111;
    border-radius: 10px;
    padding: 10px;
}

/* =============================== */
/* 2 PSEUDO CLASES */
/* =============================== */
button:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

input:focus {
    border: 2px solid yellow;
    background-color: #333;
    outline: none;
}

/* =============================== */
/* 2 PSEUDO ELEMENTOS */
/* =============================== */
h1::first-letter {
    color: yellow;
    font-size: 40px;
    font-weight: bold;
}

p::after {
    content: " *";
    color: red;
    margin-left: 5px;
}

/* =============================== */
/* 2 ATRIBUTOS */
/* =============================== */
input[type="email"] {
    border: 2px solid cyan;
    background-color: black;
    color: cyan;
}

input[required] {
    border: 2px solid yellow;
    background-color: #222;
}

/* =============================== */
/* 6 SELECTORES COMBINADOS */
/* =============================== */
form input[type="text"] {
    border: 2px solid red;
    padding: 8px;
    color: white;
}

fieldset label:hover {
    color: yellow;
    cursor: pointer;
}

aside p {
    font-size: 16px;
    color: pink;
}

form button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

header h1::after {
    content: " 🔥";
    color: red;
}

.caja input:focus {
    background-color: #444;
    border: 2px solid red;
}

/* =============================== */
/* ANIMACION */
/* =============================== */
@keyframes brillo {
    0% {
        box-shadow: 0 0 5px red;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
    100% {
        box-shadow: 0 0 5px red;
    }
}

form {
    animation: brillo 3s infinite;
}




 /** NOTA ACTUAL : 15 - 2 (Verificar su codigo)
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL 0.5
  #5 SELECTORES DE ETIQUETAS HTML 2.5
  #5 SELECTORES DE CLASES 2.5
  #3 SELECTORES DE IDENTIFICADORES 1.5
  #2 SELECTORES COMBINADORES 1
  #2 SELECTORES LOGICOS MODERNOS 1
  #2 SELECTORES PSEUDO CLASES 1
  #2 SELECTORES PSEUDO ELEMENTOS 1
  #2 SELECTORES ATRIBUTOS AVANZADOS 1
  #6 SELECTORES COMBINADOS 3
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un mínimo de 3 por selector
RECOMENDACION: Verificar su codigo
**/