*{
    font-family: cursive;
}

/*PROPIEDADES*/
/*ETIQUETAS HTML*/
h1,h2{

    background-color: aqua;
    font-style: oblique;
    color: rgb(8, 8, 8);
}

/*CLASES*/
.parte1 {
    background-color: rgb(130, 240, 4);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;

}
/*IDENTIFICADORES*/
a{
font-family: inherit;
font-size: 30px;
background-color: chocolate;
text-decoration: none;
}

#ART {

    font-size: 40px;
    color: blueviolet;

}

/** NOTA ACTUAL : 1.5
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL
  #5 SELECTORES DE ETIQUETAS HTML
  #5 SELECTORES DE CLASES
  #3 SELECTORES DE IDENTIFICADORES
  #2 SELECTORES COMBINADORES
  #2 SELECTORES LOGICOS MODERNOS
  #2 SELECTORES PSEUDO CLASES
  #2 SELECTORES PSEUDO ELEMENTOS
  #2 SELECTORES ATRIBUTOS AVANZADOS
  #6 SELECTORES COMBINADOS
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/