/* selector universal*/
* {
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
}
/* color de fondo al body*/
body {
    background-color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
/* header y navegación*/
.class_header { 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.class_header h1 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}

.class_header > h2::first-letter {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.865);
}

/* modificacion a todos los enlaces descentientes de un nav */

nav ul:first-child {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav a{
    color: white;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* agrupacion del color de fondo de los títulos y el footer final*/
:is(h1, h2, h3, h4, .footer) {
    background-color: snow;
}

p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

.columnas_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;

}

.columnas_6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 20px;
}

.card {
    background-color: rgb(255, 0, 0);
    font-style: oblique;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
figure {
    margin: 0;
    border-style:solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

figure img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

figcaption {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    color: snow;
    text-align: center;
}

.card .article {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

.article img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.columnas_6 .article {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.section:nth-of-type(2):not(.columnas_4) {
    background-color: rgba(255, 1, 162, 0.332);
}

#categorias h2 b{
    font-size: 50px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

h3 b {
    font-size: 30px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#mas_vendidos {
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px 1px rgba(255, 130, 130, 0.603);
}

#mas_vendidos + p {
    color: seashell;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

:is(.boton_comprar, .ver_productos) {
    font-style: oblique;
    background-color: rgb(224, 42, 42);
    color:snow;
    font-family: 'zapf chancery, cursive';
    border-radius: 6px;
}

.boton_comprar:hover {
    background-color: rgb(183, 14, 124);
    color:rgb(255, 250, 250);
    cursor: pointer;
    border-radius: 15px;
}

.boton_comprar:active {
    background-color: rgb(139, 17, 96);
    border-radius: 20px;
}

.ver_productos {
    background-color: royalblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.ver_productos:hover {
    background-color: rgb(12, 64, 221);
    color:rgb(255, 250, 250);
    cursor: pointer;
    border-radius: 15px;
}

.ver_productos:active {
    background-color: rgba(11, 48, 158, 0.884);
    border-radius: 20px;
}

footer:has(.ver_productos) {
    padding: 20px;
    display: flex;
    justify-content: center;
}

h4 {
    font-family: Verdana;
    font-size: 30px;
    word-spacing: 3px;
}

footer p{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color:rgb(255, 225, 225);
}

.header h3 + p {
    color:rgb(211, 235, 255);
    font-size: 24px;
    word-spacing: 2px;
}

.article {
    text-align: center;
    background-color: snow;
    padding: 2px;
}

.columnas_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
}

.columnas_4 .article {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

#categorias_populares {
    color:rgb(248, 235, 218);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: oblique;
}


.precio {
    font-weight: bold;
    font-family: 'Gill Sans';
    font-size: 15px;
}

#contacto {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}
#contacto strong {
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-style: oblique;
}
/* centra "Donde encontrarnos" y "Reciba las ultimas novedades"*/
:is(#contacto article:last-child, .footer aside h3) {
    text-align: center;
}
/* estilos para el nav de la sección contacto*/
.section nav a{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* estilos para la sección del footer*/
.footer > .section{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* estilos para bajar el nav del footer*/

.footer > .section nav{
    margin-top: auto;
}

/*estilos para el formulario del footer*/
.footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(18, 39, 227);
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(149, 0, 255, 0.785);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

legend {
    font-size: 30px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: snow;
    margin-bottom: 25px;
}

.footer form label {
    font-size: 20px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: snow;
    margin-bottom: 10px;
}

.footer .campo {
    display: flex;
    flex-direction: column;
}

/* estilos para el footer final*/
.footer p {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.486);
    font-size: 26px;
    margin-bottom: 0;
}

/* estilos para el texto seleccionado cambie a verde*/
.article h3 ~ p::selection {
    background-color: rgb(51, 255, 0);
    color: snow;
}

/** NOTA ACTUAL : 5.0
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL
  #5 SELECTORES DE ETIQUETAS HTML
  #5 SELECTORES DE CLASES
  #3 SELECTORES DE IDENTIFICADORES
  #2 SELECTORES COMBINADORES x
  #2 SELECTORES LOGICOS MODERNOS 
  #2 SELECTORES PSEUDO CLASES x
  #2 SELECTORES PSEUDO ELEMENTOS x
  #2 SELECTORES ATRIBUTOS AVANZADOS
  #6 SELECTORES COMBINADOS
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/