/* ---SELECTOR UNIVERSAL--- */

/* selector universal para que el espacio y el margen sean 0, color de las letras en negro*/
* {
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
}

/* color de fondo al body y fuente generica*/
body {
    background-color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

/* ---HEADER--- */

/* centrado del header y color de las letras*/
.class_header { 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.794);
}
/* estilos para el título principal con espacio entre letras */
.class_header h1 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}

/* Estilos para la primera letra del subtitulo */
.class_header > h2::first-letter {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.865);
}
/* ---BARRA DE NAVEGACIÓN--- */
/* modificacion el primer nav para ser flexible*/

nav ul:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: rgb(255, 0, 0);
}
/* color y fuente de los enlaces del nac*/
nav a{
    color: white;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}
/* --- SECCION 1 --- */

/* agrupacion del color de fondo de los títulos y el footer final*/
:is(h1, h2, h3, h4, .footer) {
    background-color: snow;
}

/* estilos para los parrafos generales*/
p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

/* division para las secciones de 3 y 6 columnas con espacio entre ellas*/
.columnas_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;

}

.columnas_6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 20px;
}
/* color de fondo, flexibilidad y espacio entre tarjetas de productos*/
.card {
    background-color: rgb(255, 0, 0);
    font-style: oblique;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* estilos para las imagenes de las figuras y el tamaño de sus imagenes*/
figure {
    margin: 0;
    border-style:solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

figure img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

figcaption {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    color: snow;
    text-align: center;
}

/* estilos para centrar los articulos de las cartas*/
.card .article {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

/* estilos para las imagenes de los articulos en general, con unancho del 100%*/
.article img{
    width: 100%;
    height: 250px;

}
/* ---SECCION 2 --- */

/* estilos para los artículos generales*/
.article {
    text-align: center;
    background-color: snow;
    padding: 2px;
}
/* estilos para la sección de 4 columnas*/
.section .columnas_4:not(.carousel-inner) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
}
/* estilos para los artículos de la sección de 4 columnas*/
.columnas_4 .article {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
/* estilos para el título de la sección de categorías populares*/
#categorias_populares {
    color:rgb(248, 235, 218);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: oblique;
}

/* color de fondo para la segunda sección sin contar otras*/
.section:nth-of-type(2):not(.columnas_4) {
    background-color: rgba(255, 1, 162, 0.332);
}
/* estilos para el título de la sección de categorías populares*/
#categorias h2 b{
    font-size: 50px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

/* ---SECCION 3 --- */
/* estilos para el subtitulo de la sección de categorías populares*/
:is(h3, h5) b {
    font-size: 30px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* estilos de los costados para los ariculos que tengan 6 columnas*/

.columnas_6 .article {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

/* estilos para la sección de los mas vendidos para tener sombra en el texto*/
#mas_vendidos {
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px 1px rgba(255, 130, 130, 0.603);
}
/* color yformato para el texto debajo del título de los mas vendidos*/
#mas_vendidos + p {
    color: seashell;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

/* efectos al poner el mouse sobre los botones de comprar y ver productos*/
:is(.boton_comprar, .ver_productos) {
    font-style: oblique;
    background-color: rgb(224, 42, 42);
    color:snow;
    font-family: 'zapf chancery, cursive';
    border-radius: 6px;
    font-size: 20px;
}

.boton_comprar:hover {
    background-color: rgb(183, 14, 124);
    color:rgb(255, 250, 250);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

.boton_comprar:active {
    background-color: rgb(139, 17, 96);
    border-radius: 30px;
}

.ver_productos {
    background-color: royalblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.ver_productos:hover {
    background-color: rgb(12, 64, 221);
    color:rgb(255, 250, 250);
    cursor: pointer;
    border-radius: 15px;
    transition: 0.5s;
}

.ver_productos:active {
    background-color: rgba(11, 48, 158, 0.884);
    border-radius: 20px;
}

/* color y alineacion del footer de ver productos para centrarlo*/
footer:has(.ver_productos) {
    padding: 20px;
    display: flex;
    justify-content: center;
}
/* h4 general*/
h4 {
    font-family: Verdana;
    font-size: 30px;
    word-spacing: 3px;
}
/* estilos para las p del footer*/
footer p{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color:rgb(255, 225, 225);
}
/* estilos para el texto debajo del título principal de cda categoría */
.header h3 + p {
    color:rgb(211, 235, 255);
    font-size: 24px;
    word-spacing: 2px;
}

/* estilos para el precio de los productos*/
.precio {
    font-weight: bold;
    font-family: 'Gill Sans';
    font-size: 18px;
}

/* ---SECCION 4--- */

/* estilos para la sección de contacto dividido en 2, mas borde*/
#contacto {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
/* estilos para el texto de los simbolos de la sección de contacto*/
}
#contacto strong {
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-style: oblique;
}
/* centra "Donde encontrarnos" y "Reciba las ultimas novedades"*/
:is(#contacto article:last-child, .footer aside h3) {
    text-align: center;
}
/* estilos de fuente para los enlaces del nav de la sección contacto*/
.section nav a{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* --- FOOTER --- */

/* estilos para la sección del footer que divide en dos columnas*/
.footer > .section{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* estilos para bajar el nav del footer*/

.footer > .section nav{
    margin-top: auto;
}

/*estilos para el formulario del footer, centrado los elementos, con color azul, y haciendolo flexible*/

/* estilos de fuente para el legend del formulario del footer*/
legend {
    font-size: 30px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: snow;
    margin-bottom: 25px;
}

.footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(43, 38, 38, 0.523);
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.785);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* estilos de fuente para las etiquetas del formulario del footer*/
.footer form label {
    font-size: 20px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: snow;
    margin-bottom: 10px;
}

/* estilos para el footer final con texto de sombra*/
.footer p {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.486);
    font-size: 26px;
    margin-bottom: 0;
}
/* estilos para el texto seleccionado cambie a verde*/
.article h3 ~ p::selection {
    background-color: rgb(51, 255, 0);
    color: snow;
}

/* ---------- PSEUDO ELEMENTO ----------- */
/* Aumenta la primera letra del título de los mas vendidos, con un tipo de letra diferente y un color negro rojizo*/
#mas_vendidos::first-letter {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(50, 2, 2);
}

/* ----------- ATRIBUTOS AVANZADOS ----------- */
/* efecto con sombra y remarque de los enlaces del nav */
a[href] {
    color: rgba(255, 255, 255, 0.849);
    font-weight: bold;
    font-size: 30px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    text-decoration: none;
}
/* efecto de sombra y blanco diferente*/
footer p a[href="#categorias"] {
    color: rgba(231, 254, 254, 0.905);
    font-size: 26px;
    text-shadow: 6px 6px 10px rgb(0, 0, 0);
    transition-property: transform;
    transition-duration: 0.5s;
    margin-left: 20px;
    display: inline-block; /* permite que los elementos se posicionen horizontalmente uno allado de otro y editar ancho y alto */
}

/* trancición a las palabras "ver mas categorias" para agrandarlo al pasar el ratón */
footer p > a[href="#categorias"]:hover {
    text-decoration: none;
    transform: scale(1.15);

}
/* efecto dd sombra al nav del footer con color gris */
.footer .section a[href] {
    color: rgba(0, 0, 0, 0.937);
    font-size: 24px;
    text-shadow: 7px 7px 15px rgba(0, 0, 0, 0.591);
}

/*--------------- ANIMACIONES ----------------*/
/* animacion que hace desaparecer la sombra del texto y doble linea al llegar arriba */
@keyframes aparecer_arriba {
    0% {
        top: 30px;
        text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
        color: rgb(53, 49, 49);
    }
    100% {
        top: 0px;
        text-shadow: none;
        color: rgb(0, 0, 0);
    }
}
/* llamando a la animacion, dura 2 segundos y con una transicion suave de princio, rapido al medio, y lento al fin*/
.card {
    animation: aparecer_arriba 2s ease-in-out;
}

/* animacion dezplazando texto de dercha a izquierda*/
@keyframes desplazar_texto_izquierda {
    0% {
        left: 100%;
        color: rgb(255, 0, 0);
    }

    100% {
        left: 0%;
        color: rgb(255, 255, 255);
    }
}

/* llamando a la animacion, dura 3 segundos y con una transicion rapida*/
#sobre_nosotros footer p {
    position: relative;  /* necesario para que pueda moverse respecto a su posicion */
    animation-name: desplazar_texto_izquierda;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

/* -------- TRANSICIONES ----------- */
/* cambio de borde, con corto tiempo y constante de los productos más vendidos*/
.columnas_6 .article {
    transition-property: border-style, border-width, border-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
/* aplicacion de la transicion al ponerel mouse, cambio de color en el borde */
.columnas_6 .article:hover {
    border-style: outset;
    border-width: 10px;
    border-color: rgba(229, 19, 61, 0.945);
}
/* cambio de borde, con corto tiempo y constante de los productos de la sección de categorías*/
.columnas_4 .article {
    transition-property: border-radius, border-style, border-color, border-width;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
/* aplicacion de la transicion al poner el mouse, cambio de color y forma del borde */
.columnas_4 .article:hover {
    border-radius: 30px;
    border-style: solid;
    border-color: rgba(255, 34, 0, 0.812);
    border-width: 10px;
}

/* mantiene el nav y el header a pesar de seguir bajando */
.class_header:has(h1) {
    background-color: red;
    position: sticky;
    top:0;
    z-index: 1; /* lo posiciona por encima de otros elementos */
    border: 5px solid black;
}


/* color blanco */
.white {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
/* aliniacion de botones del formulario */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
}
/* css personalizddo de bootstrap, divisiones entre secciones */
.division_principal {
    width: 100%;
    height: 5rem;
    background-color: #b6113a77;
    border: solid rgba(63, 63, 63, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em #412e3e1a, inset 0 0.125em 0.5em #1c1a1a26;
}
 /** NOTA ACTUAL : 
 CSS->17
 BS ->15
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL 0.5
  #5 SELECTORES DE ETIQUETAS HTML 2.5
  #5 SELECTORES DE CLASES 2.5
  #3 SELECTORES DE IDENTIFICADORES 1.5
  #2 SELECTORES COMBINADORES 1
  #2 SELECTORES LOGICOS MODERNOS 1
  #2 SELECTORES PSEUDO CLASES 1
  #2 SELECTORES PSEUDO ELEMENTOS 0.5
  #2 SELECTORES ATRIBUTOS AVANZADOS 0.0
  #6 SELECTORES COMBINADOS 3
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
RECOMENDACION: Seria bueno comentar cada punto y tomar en cuenta la 3 propiedades por cada selector
**/