*{
    background-color:rgb(40, 35, 35);
    
}

/**2DA ETIQUETA**/
h1{
    background-color: rgb(79, 112, 140);
    font-size:xx-large;
    color:rgb(201, 225, 247);
    font-style:initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/**3RA ETIQUETA**/
h2{
    background-color: rgb(205, 219, 231);
    color:black;
    font-style: italic;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/**4TA ETIQUETA**/

h3{
    background-color: rgb(206, 228, 246);
    color:rgb(13, 13, 13);
    font-style: italic;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:justify;
}

/**5TA ETIQUETA**/

time{
    color:rgb(225, 236, 245);
    font-style: oblique;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

/**6TA ETIQUETA**/

p{
    background-color: aliceblue;
    color:rgb(16, 15, 15);
    font-style: arial;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

/**7TIMA ETIQUETA**/

figcaption{
    color: rgb(220, 230, 239);
    font-style: italic;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

/**8TAVA ETIQUETA**/

span{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

label{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

legend{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

option{
    color:aliceblue;
    font-style: arial;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

output{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}


summary{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

button{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    text-align: justify;
}

aside{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
                /************CLASES****************/

/* 1. Encabezado */
.encabezado {
  color: rgb(84, 7, 7);
  font-style: normal;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* 2. Título */
.titulo {
  color:rgb(158, 3, 3);
  font-style: italic;
  font-size: 28px;
  font-family: Georgia, serif;
  text-align: center;
}

/* 3. Partidos */
.partido {
  color: black;
  font-style: normal;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  text-align: left;
}

/* 4. Equipos */
.equipos {
  color: blue;
  font-style: normal;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
}

/* 5. Hora */
.hora {
  color: rgb(134, 121, 121);
  font-style: oblique;
  font-size: 14px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif right;
}

                    /*******IDENTIFICADORES***/


 #logoChampions img {
  width: 200px;
  display: block;
  margin: auto;
}


#menuPrincipal {
  background:fixed
}

.nav {
  text-align:justify
}


/** SELECTORES COMBINADORES**/

h2 + p {
  background-color: rgb(97, 97, 49);
  color: rgb(255, 253, 253);
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
}

h2 ~ p {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Arial, sans-serif;
}


/*** SELECTORES LOGICOS MODERNOS***/

section {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #050505;
    color: #333;
    font-family: Arial, sans-serif;
}

:is(h3, h4, h5) {
    color: rgb(156, 26, 28);
    background-color: rgb(211, 229, 229);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-family: Arial, sans-serif;
}


/*** SELECTORES PSEUDO CLASES***/

a {
    color: rgb(13, 0, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(109, 4, 4);
    text-decoration: underline;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
}

input:valid {
    border: 2px solid rgb(144, 162, 144);
}


/***PSEUDO ELEMENTOS***/

p::first-letter {
    color: rgb(109, 4, 4);
    font-size: 28px;
    font-weight: bold;
}

p::first-line {
    color: rgb(22, 22, 23);
    font-weight: bold;
    font-size: 18px;
}


/*** SELECTORES ATRIBUTOS AVANZADOS***/

a[href^="https"] {
    color: rgb(250, 0, 0);
    font-weight: bold;
    text-decoration: underline;
}

img[src$=".png"] {
    border: 2px solid rgb(254, 254, 254);
    border-radius: 8px;
    padding: 5px;
}


/*** SELECTORES COMBINADOS***/

nav ul li a {
    color: blue;
}

nav > ul {
    background-color: #ffffff;
}

h2 + p {
    color: green;
}

h2 ~ nav {
    background-color: #c1bcbc;
}

.section .card {
    border-radius: 10px;
}

.card h2 {
    color: rgb(255, 5, 5);
}


/******** INTENTO DE MEJORAS DE JOE******/

img {
    transition: transform 0.6s ease;
}

img:hover {
    transform: scale(1.1);
}

video {
    transition: transform 0.6s ease;
}

video:hover {
    transform: scale(1.03);
}

.partidos {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px;
}

/*** SECCIÓN DE CALENDARIOS DE PARTIDOS DE LA CHAMPIONS***/

.partido {
    min-width: 200px;
    background: linear-gradient(135deg, #0b1d3a, #222121);
    padding: 15px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover efecto */
.partido:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

/* Equipos */
.equipos {
    font-size: 16px;
    margin: 10px 0;
    color:#080808
}

/* Hora */
.hora {
    font-size: 14px;
    opacity: 0.8;
    color:#fefefe
}





/** NOTA ACTUAL : 5.5
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL
  #5 SELECTORES DE ETIQUETAS HTML
  #5 SELECTORES DE CLASES
  #3 SELECTORES DE IDENTIFICADORES
  #2 SELECTORES COMBINADORES
  #2 SELECTORES LOGICOS MODERNOS
  #2 SELECTORES PSEUDO CLASES
  #2 SELECTORES PSEUDO ELEMENTOS
  #2 SELECTORES ATRIBUTOS AVANZADOS
  #6 SELECTORES COMBINADOS
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/