                        /************* ETIQUETAS HTML***************/


/***1RA ETIQUETA***/

*{
    background-color:black
}

/**2DA ETIQUETA**/
h1{
    background-color: rgb(79, 112, 140);
    font-size:xx-large;
    color:rgb(201, 225, 247);
    font-style:initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/**3RA ETIQUETA**/
h2{
    background-color: rgb(205, 219, 231);
    color:black;
    font-style: italic;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/**4TA ETIQUETA**/

h3{
    background-color: rgb(206, 228, 246);
    color:rgb(13, 13, 13);
    font-style: italic;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:justify;
}

/**5TA ETIQUETA**/

time{
    color:rgb(225, 236, 245);
    font-style: oblique;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

/**6TA ETIQUETA**/

p{
    background-color: aliceblue;
    color:rgb(16, 15, 15);
    font-style: arial;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

/**7TIMA ETIQUETA**/

figcaption{
    color: rgb(220, 230, 239);
    font-style: italic;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

/**8TAVA ETIQUETA**/

span{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

label{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

legend{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

option{
    color:aliceblue;
    font-style: arial;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

output{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}


<<<<<<< HEAD
/*PROPIEDADES
font-family -----Especifica la fuente de texto para un elemento
font-size   -----El tamaño de una fuente.
background - color -----
text-align
*/


*{
    color:black
}

*{
    background-color:aliceblue
}
=======
summary{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

button{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    text-align: justify;
}

aside{
    color:aliceblue;
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
                /************CLASES****************/

/* 1. Encabezado */
.encabezado {
  color: rgb(84, 7, 7);
  font-style: normal;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* 2. Título */
.titulo {
  color:rgb(158, 3, 3);
  font-style: italic;
  font-size: 28px;
  font-family: Georgia, serif;
  text-align: center;
}

/* 3. Partidos */
.partido {
  color: black;
  font-style: normal;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  text-align: left;
}

/* 4. Equipos */
.equipos {
  color: blue;
  font-style: normal;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
}

/* 5. Hora */
.hora {
  color: rgb(134, 121, 121);
  font-style: oblique;
  font-size: 14px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif right;
}

                    /*******IDENTIFICADORES***/


 #logoChampions img {
  width: 200px;
  display: block;
  margin: auto;
}


#menuPrincipal {
  background:fixed
}

.nav {
  text-align:justify
}
>>>>>>> 28c8074838d740b087cef5f6d1f55d6c3b3c30cc
