/**EXTERNA**/

p{
    color: aliceblue !important
}


/*PROPIEDADES
font-family -----Especifica la fuente de texto para un elemento
font-size   -----El tamaño de una fuente.
background - color -----
text-align
*/


*{
    color:black
}

*{
    background-color:aliceblue
}
