*{
    background:rgb(44, 42, 42);
    color:white
}

p{
    color:green
}

h1,h2{
    background-color: rgb(139, 204, 42);
    font-style:oblique;
    color: red;

}
 
p {
  text-align: center;
}


/** NOTA ACTUAL : 0.5
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL
  #5 SELECTORES DE ETIQUETAS HTML
  #5 SELECTORES DE CLASES
  #3 SELECTORES DE IDENTIFICADORES
  #2 SELECTORES COMBINADORES
  #2 SELECTORES LOGICOS MODERNOS
  #2 SELECTORES PSEUDO CLASES
  #2 SELECTORES PSEUDO ELEMENTOS
  #2 SELECTORES ATRIBUTOS AVANZADOS
  #6 SELECTORES COMBINADOS
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/