
/* UNIVERSAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* BODY */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(255, 5, 255);
    background: linear-gradient(135deg, #42532b, #1b1b1b, #3d472f);
    overflow-x: hidden;
}


/* ENCABEZADOS */

h1 {
    background-color: #9ae940;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

h2 {
    background-color: #9ae940;
    color: black;
    font-style: italic;
    text-align: center;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

h3 {
    background-color: #9ae940;
    color: rgb(13, 13, 13);
    font-style: italic;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

/* selector lógico */
:is(h3, h4, h5) {
    color: black;
    background-color: rgb(129, 236, 79);
    padding: 10px;
    border-radius: 5px;
}


/* PARRAFOS */

p {
    background-color: rgb(156, 156, 154);
    color: rgb(16, 15, 15);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}


/* COMBINADORES */

h2 + p {
    background-color: rgb(136, 112, 81);
    font-size: 25px;
    color: rgb(44, 11, 209);
}

h2 ~ p {
    border: 2px solid white;
    font-size: 20px;
    color: black;
}

/* combinados */
div.card p {
    color: white;
    text-align: center;
}

nav ul li a {
    color: pink;
    text-decoration: none;
}


/* NAV */

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: rgb(162, 1, 255);
    text-decoration: none;
    font-size: 16px;
}

/* HEADER */

header {
    background: #252525;
    border-bottom: 2px solid red;
    font-size: 2rem;
}


/* CLASES */

.article {
    background: #011938;
    padding: 70px;
    text-align: center;
    transition: 0.5s;
    width: 51%;
    border-radius: 30px;
    margin-bottom: 40px;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
}


.texto {
    font-size: 18px;
    color: black;
}

/* IDS */

#titulo {
    color: red;
    font-size: 30px;
    text-align: center;
}

#menu {
    background: black;
    padding: 10px;
    border-radius: 5px;
}

#footer {
    background: gray;
    color: white;
    text-align: center;
}


/* IMÁGENES */

img {
    width: 500px;
    border: 10px solid #000000;
    margin: 40px;
}


/* PSEUDO CLASES */

a:hover {
    color: red;
    text-decoration: underline;
    font-size: 18px;
}

li:first-child {
    color: yellow;
    font-weight: bold;
    font-size: 18px;
}


/* PSEUDO ELEMENTOS */

p::first-letter {
    font-size: 25px;
    color: rgb(203, 26, 26);
}


/* ATRIBUTOS */

input[type="text"] {
    border: 2px solid blue;
    padding: 5px;
}

a[target="_blank"] {
    color: green;
}


/* ANIMACIONES */

@keyframes mover {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}

.animacion {
    animation: mover 2s infinite alternate;
    background: rgb(167, 101, 101);
    padding: 10px;
}


/* EFECTOS */

.card:hover {
    transform: translateY(-10px);
    border: 1px solid #2bff00;
    box-shadow: 0 0 15px #1d0dff;
}
/** NOTA ACTUAL : 2
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL 0.5
  #5 SELECTORES DE ETIQUETAS HTML 1
  #5 SELECTORES DE CLASES 0
  #3 SELECTORES DE IDENTIFICADORES 0
  #2 SELECTORES COMBINADORES 0.5
  #2 SELECTORES LOGICOS MODERNOS 0
  #2 SELECTORES PSEUDO CLASES 0
  #2 SELECTORES PSEUDO ELEMENTOS 0
  #2 SELECTORES ATRIBUTOS AVANZADOS 0
  #6 SELECTORES COMBINADOS 0
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/