/*SELECTOR UNIVERSAL*/
*{
    
}

.video-header {
    position: relative;
    height: 400px;
    overflow: hidden;

}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}


.contenido {
    position: relative;
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

audio {
    width: 100%;
    margin: 10px;
}
body {
    font-family: Arial;
    background-color: #0d8009;
    border: #070000;
}

head {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(92, 4, 65);
    color: rgb(255, 255, 255);
    margin: 0;
}
p{
    color: rgba(252, 169, 252, 0.699);
}


.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    min-width: 100%;
    min-height: 100%;
}


.contenido {
    position: relative;
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

audio {
    width: 100%;
    margin: 10px;
}
body {
    font-family: Arial;
    background-color: #0d8009;
    border: #070000;
}


header {
    background-color: rgb(8, 8, 8);
    color: white;
    text-align: center;
    padding: 10px;
}


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}


section {
    background-color: rgb(179, 223, 171);
    margin: 20px;
    padding: 15px;
}

img {
    border-radius: 10px;
}

table {
    background-color: #070000;
    color: white;
    width: 100%;
    text-align: center;
    border: #0a7506;
}

button {
    background-color: rgb(6, 46, 3);
    color: rgb(240, 236, 236);
}

input, select, textarea {

    background-color: rgb(223, 240, 223);
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


 /** NOTA ACTUAL : 7.5
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL 0.0
  #5 SELECTORES DE ETIQUETAS HTML 2.5
  #5 SELECTORES DE CLASES 2.5
  #3 SELECTORES DE IDENTIFICADORES 0
  #2 SELECTORES COMBINADORES 1
  #2 SELECTORES LOGICOS MODERNOS 0
  #2 SELECTORES PSEUDO CLASES 0
  #2 SELECTORES PSEUDO ELEMENTOS 0
  #2 SELECTORES ATRIBUTOS AVANZADOS 0
  #6 SELECTORES COMBINADOS 1.5
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un mínimo de 3 por selector
RECOMENDACION: Seria bueno comentar cada punto y tomar en cuenta la 3 propiedades por cada selector
**/