

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#380343;
    color:white;
    margin:0;
    padding:0;
}


header{
    background-color:#000;
    text-align:center;
    padding:20px;
}

header h1{
    color:#c084fc;
}

nav ul{
    list-style:none;
    padding:0;
}

nav li{
    display:inline;
    margin:15px;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

nav a:hover{
    color:#c084fc;
}


section{
    padding:30px;
}


table{
    width:100%;
    text-align:center;
}

td{
    padding:20px;
}

td img{
    border-radius:10px;
    transition:transform 0.3s;
}

td img:hover{
    transform:scale(1.1);
}


button{
    margin-top:10px;
    padding:10px 15px;
    border:none;
    background:#c084fc;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#9333ea;
}

#categorias img{
    margin:10px;
    border-radius:10px;
}


input, textarea, select{
    padding:8px;
    border-radius:5px;
    border:none;
}

input[type="submit"], input[type="reset"]{
    background:#c084fc;
    color:white;
    cursor:pointer;
}



footer{
    background:black;
    text-align:center;
    padding:20px;
}


/* animaciones */

section{
animation: aparecer 1s ease;
}

@keyframes aparecer{
from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}
}



img{
transition: transform 0.4s, box-shadow 0.4s;
}

img:hover{
transform: scale(1.08) rotate(1deg);
box-shadow: 0px 10px 25px rgba(0,0,0,0.5);
}



button{
transition: all 0.3s;
}

button:hover{
transform: scale(1.1);
}



nav a{
position: relative;
transition: color 0.3s;
}

nav a::after{
content:"";
position:absolute;
width:0%;
height:2px;
background:#c084fc;
left:0;
bottom:-5px;
transition:0.3s;
}

nav a:hover::after{
width:100%;
}




h1,h2,h3{
animation: titulo 1.2s ease;
}

@keyframes titulo{
from{
opacity:0;
letter-spacing:10px;
}

to{
opacity:1;
letter-spacing:normal;
}
}



/* mismos tamaños */

#productos img{
width:200px;
height:200px;
object-fit:cover;
}



#categorias img{
width:220px;
height:220px;
object-fit:cover;
margin:10px;
border-radius:10px;
}