/* ===== ETIQUETAS HTML  ===== */


body {
    background-color: rgb(117, 0, 0); /* color de fondo */
    font-family: Arial; /* tipo de letra */
}


h1,h2 {  /* usando dos etiquetas  al mismo tiempo */
    font-size: 40px; /* tamaño de letra */
    text-align: center; /* centrar texto */
    color: white; /* color */
}


p {
    font-size: 16px;
    color: black;
}


section {
    background-color: lightcoral;
    text-align: center;
}


footer {
    background-color: black;
    text-align: center;
    color: white;
}













/* ===== IDs ===== */


#titulo {
    color: yellow; /* cambia color del título */
}


#seccion1 {
    background-color: lightpink;
}


#footer {
    font-size: 14px;
}
















/* ===== CLASES  ===== */


.cabecera {
    background-color: darkred;
    text-align: center;
}


.vinculo_lleva {
    background-color: crimson;
    text-align: center;
}


.section {
    text-align: center;
}


.card {
    background-color: white;
    font-style: italic; /* estilo cursiva */
}


.precio {
    font-size: 18px;
    color: yellow;
}