/**INTERNAL**/

* {
    background-color: darkcyan;
}
/**EXTERNA**/

p {
    color: white !important
}

/*ESTILOS DE LOS TITULOS*/

h1 {
    color: rgb(44, 85, 84);
    text-align: center;
}

h2 {
    color: rgb(117, 195, 33);
    text-align: center;
}

h3 {
    color: rgb(156, 192, 28);
    text-align: center;
}

h4 {
    color: rgb(185, 203, 23);
    text-align: center;
}

h5 {
    color: rgb(230, 193, 8);
    text-align: center;
}


/*ESTILOS DE LOS PARRAFOS*/

.clase1 {
    color: rgb(11, 199, 174);
    text-align: center;
}

.clase2 {
    color: rgb(171, 220, 11);
    text-align: center;
}

.clase3 {
    color: rgb(16, 1, 1);
    text-align: center;
}

.clase4 {
    color: rgb(135, 17, 17);
    text-align: center;
}

.clase5 {
    color: rgb(9, 162, 98);
    text-align: center;
}


/*ESTILOS DE LOS DIVS*/

p {
    color: rgb(14, 157, 98);
    text-align: center;
}

p {
    color: rgb(23, 234, 146);
    text-align: center;
}

p {
    color: rgb(9, 162, 98);
    text-align: center;
}

p {
    color: rgb(6, 229, 136);
    text-align: center;
}


/** NOTA ACTUAL : 0.0
15 puntos SELECTORES
  #1 SELECTOR UNIVERSAL
  #5 SELECTORES DE ETIQUETAS HTML
  #5 SELECTORES DE CLASES
  #3 SELECTORES DE IDENTIFICADORES
  #2 SELECTORES COMBINADORES
  #2 SELECTORES LOGICOS MODERNOS
  #2 SELECTORES PSEUDO CLASES
  #2 SELECTORES PSEUDO ELEMENTOS
  #2 SELECTORES ATRIBUTOS AVANZADOS
  #6 SELECTORES COMBINADOS
3 puntos ANIMACIONES
2 puntos SUSTENTACION/PARTICIPACION EN CLASE
NOTA : Pueden usar cualquier propiedad un minimo de 3 por selector
**/